option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: true
    SSLCertificateArns: arn:aws:acm:ap-northeast-1:042336712213:certificate/30c52a12-54ae-4f3d-be33-ec6668151ed9
    Protocol: HTTPS

  aws:elasticbeanstalk:environment:process:default:
    Port: 80
    Protocol: HTTP
    StickinessEnabled: true
    HealthCheckPath: /location/1.1.1.1
    HealthCheckTimeout: 30
    HealthCheckInterval: 60
    MatcherHTTPCode: 200

  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: true
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:http:
    Port: 81
    Protocol: HTTP
    HealthCheckPath: /location/1.1.1.1
    HealthCheckTimeout: 30
    HealthCheckInterval: 60
    MatcherHTTPCode: 301
